header{
	background: linear-gradient(#FFFAFA, #FAEBD7);
	font-family: 'Rubik', sans-serif;
}

footer{
	background: linear-gradient(#FFFAFA, #FAEBD7);
	left:0px;
	bottom:0px;
	height:30px;
	width:100%;
	padding-top: 10px;
	font-family: 'Rubik', sans-serif;
}

ul{
	list-style: none;
	margin: 0;
	padding: 20px;
}

a{
	font-size: 35px;
	padding: 20px;
	color: #293133;
	text-decoration: none;
	font-family: 'Rubik', sans-serif;
}

a:hover{
	color: #FFCF48;
	text-decoration: none;
	font-family: 'Rubik', sans-serif;
}

li{
	display: inline;
}

.paragraph{
	font-size: 25px;
	font-family: 'Rubik', sans-serif;
	margin-left: 100px;
	margin-right: 100px;
}

.h1{
	font-family: 'Rubik', sans-serif;
	margin: 20px;
}